<div class="col-md-10">
<div class="pull-right">
  <%= link_to("上新", new_admin_product_path, class: "btn btn-primary") %>
</div>
<table class="table table-bordered ">
  <thead>
    <tr>
      <th>#</th>
      <th width="220">Product Pic</th>
      <th>名称</th>
      <th>价格</th>
      <th>管理</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "productitem", :collection => @products, :as => :product %>
  </tbody>
</table>
</div>
