<div class="container-fluid" style = "margin-top:40px">
  <table class="table table-bordered" style = "box-shadow:8px 8px 9px rgb(176,190,197)">
    <thead>
      <tr>
        <th>#</th>
        <th>商品名称</th>
        <th>商品描述</th>
        <th>价格</th>
        <th>库存</th>
        <th>上架时间 </th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "productitem", :collection => @products, :as => :product %>
    </tbody>
  </table>
</div>
